*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    background:linear-gradient();
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 255, 1);
}
.pokebola {
    height: 500px;
    width: 500px;
    margin: auto;
    position: relative;
    background-color: crimson;
    background-image: radial-gradient(circle at right, crimson, crimson, black);
    border-radius:100%;
    z-index:1;
    overflow:hidden;  
    box-shadow: -100px 50px 20px 10px rgba(19, 19, 19, 0.5);
}
.pokebola-content {
    height: 100%;
    width: 100%;
}
.bottom-white {
    height: 250px;
    width: 100%;
    background-color: aliceblue;
    background-image: radial-gradient(circle at right top, aliceblue 10%, aliceblue 55%, black);
    position:absolute;
    bottom:0;
    z-index:2;
}
.bottom-white::after {
    content: '';
    height: 94px;
    width: 124px;
    background-color: white;
    filter: blur(15px);
    position: absolute;
    top: -183px;
    left: 265px;
}
.bottom-white::before {
    content: '';
    height: 35px;
    background-color: black;
    width: 100%;
    position: absolute;
    top:-18px;
}
.button {
    height:130px;
    width:130px;
    background-color:white;
    background-image: radial-gradient(circle at right , aliceblue 10%, aliceblue 55%, black);
    border:10px solid black;
    border-radius:100%;
    outline: none;
    position: absolute;
    top:-62px;
    left:20%;
    animation: move 4s infinite 2s;
}
.button::before {
    content: '';
    height: 60px;
    width: 60px;
    background-color: white;
    background-image: radial-gradient(circle at right, aliceblue, aliceblue, black);
    position: absolute;
    border-radius: 100%;
    box-shadow: 0 0 20px 10px rgb(149 149 149 / 50%);
    left: 22px;
    top:25px;
}
.button:hover {
    transform: scale(0.97);
}
  
@keyframes move {
    0% {

    }
    50% {

    }
    100% {

    }
}

@media (max-width:780px) {
    .pokebola {
        height: 400px;
        width: 400px;
    }
    .bottom-white {
        height: 200px;
    }
    .bottom-white::after {
        height: 85px;
        width: 104px;
        top: -175px;
        left: 225px;
    }
}


@media (max-width:500px) {
    .pokebola {
        height: 200px;
        width: 200px;
        margin-left: 120px;
    }
    .bottom-white {
        height: 90px;
    }
    .bottom-white::after {
        height: 45px;
        width: 50px;
        top: -100px;
        left: 122px;
    }
    .bottom-white::before {
        height: 20px;
    }
    .button {
        height:70px;
        width:70px;
        border:10px solid black;
        top:-50px;
        left:20%;
    }
    .button::before {
        height: 30px;
        width: 30px;
        left: 7px;
        top: 9px;
    }
}